/*--------------------------TODO ESTO ES NUEVO----------------------------*/
* a:hover{
    color: white !important;
    text-decoration: none !important;
}

.timer {
    z-index: 4;
}


.iconito {
    border-radius: 5px;
    display:block;
    position: fixed;
    top:160px;
    right:-60px;
    background-color:lightgrey;
    width: 110px;
    height: 50px;
    transition: all 0.3s;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.5);
    z-index: 4;
}

.iconito img {
    cursor: pointer;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.controlpanel {
    padding:20px;
    border-radius: 5px;
    display:block;
    position: absolute;
    top:0px;
    right:-125px;
    background-color: lightgrey;
    width: 180px;
    height: 180px;
    transition: all 0.3s;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.5);
    z-index: 4;
}


.controlpanel form input.btn-primary{
    background-color: orange;
}

.controlpanel form input.btn-primary:hover{
    background-color: #ff8800;
}

.iconito:hover {
    border-radius: 5px;
    display:block;
    position: fixed;
    top:160px;
    right:110px;
    background-color:lightgrey;
    width: 110px;
    height: 50px;
    transition: all 0.3s;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.5);
    z-index: 4;
}


.PopUpIn, .PopUpEat, .PopUpOut{
    display:block;
    color:white;
    position:fixed;
    z-index: 5;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.InBox, .EatBox, .OutBox {
    position:relative;
    margin: auto;
    top: 20%;
    width: 350px;
    height: 200px;
    background:white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    padding: 50px 60px 50px 60px; 
    border-radius: 5px; border: 3px solid orange
}

.InBox > a, .EatBox > a, .OutBox > a {
    margin:0;
    padding: 0;
    position:relative;
    float: right;
    top:-40%;
    right:-20%;
    text-decoration:none;
    cursor: pointer;
    width:25px;
    height: 25px;
    border:3px solid lightgrey;
    border-radius: 20px;
    color: grey 
}

.InBox > a:hover, .EatBox > a:hover, .OutBox > a:hover{
    color: orange;
    border-color:orange;
}

.InBox > h4, .EatBox > h4, .OutBox > h4 {
    position:relative;
    left: 5%;
    color:grey;
    text-align: center
}
.InBox > h5, .EatBox > h5, .OutBox > h5 {
    color:grey;
    text-align: center
}
/*----------------------FIN DE TODO ESTO ES NUEVO----------------------------*/

my-nav {
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 999;
}

.h-line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    padding-top: -3px;
}

.purplebody {
    background:#2e1247;

}

.navbar-default {
    background-color:#2e1247;
    border: 0px;
}

.selection {
    background-color: #391e50;
    border-radius: 5px;
}

.grandbtn {
    color: white;
    border:1px;
    border-radius: 5px;
    background-color: #40255b;
}

label {
    color: #58416c;

}


.navbar-default .navbar-brand {
    color: #fff;  
    font-size: 20px;
}

.navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;    
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #58416c;
}



.dropdown-toggle::after {
    background-color: yellow;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #391e50;
    color: white;
}

.Supercenter {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 380px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    z-index: -1;
}

.Supercenter > h5 {
    font-size: 20px;
}

.Supercenter > h1 {
    font-size: 50px;
}

.Supercenter > div > img {
    height: 100px;
    width: 100px;
}



/*--------------------------------------------------*/



.sidebar-item {
    height: 80px;


}

.sidebar-item > a {
    height: 80px;
    width: 100%;
}

.sidebar-item-pic {
    height: 50px;
    width: 50px;
    background-color: white;
    float:left;
    border-radius: 25px;
    border: 2px solid #25ea1f;
    box-shadow: 2px 2px 3px #2f1348;
}
/*INICIO css para puestos vacantes*/

sidebar-puesto{
    height: 80px;
    width: 100%;

}


.sidebar-puesto-content {

    height: 80px;
    width: 100%;
    position:relative;
    vertical-align: middle;

}

.sidebar-puesto > a {
    height: 80px;
    width: 100%;
}


/*FIN css para puestos vacantes*/

.sidebar-item-content {
    padding-left: 60px;
}

.sidebar-item-content strong {
    color: white;
}


.sidebar-item-content span {
    color: white;
}


/*--------------------------------------------------------------*/

.mensaje {
    position: absolute;
    float: left;
    width: 100%;
    height: 50px;
    background-color: #ddd ;
    margin-top: 20px;
    color:black;
}

.item {
    padding: 10px;
    height: 70px;
}

/*_____TODO______DASHBOARD______CLASS______CSS_______*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 50px;
    background:#2e1247;
    color: #fff;
    z-index: 4;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}


header label {
    cursor: pointer;
    display:none;
    padding: 10px;
}


#btn-menu, #btn-candidaturas, #btn-notificaciones{
    display:none;
    z-index: 1;
}

#icono {
    font-size: 30px;
}



.menu ul {
    background:#2e1247;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}



/*------------------------NUEVO-------------------------*/

.space {
    display: block;
    position:initial;
    top: 50px;
}

.menu ul li ul {
    cursor: pointer;
    display:block;
    margin-top: 0px;
    background-color: #2e1247;
    position: absolute;
    left: -350px;
    transition: all 0.3s;
    height: 92%;
    z-index: 2;
}

/*
.menu ul li ul li ul li {
    background-color: red;}
*/
#btn-notificaciones:checked, #btn-candidaturas:checked {
    display: none;
}

#btn-notificaciones:checked ~ .menu ul li#mynotes ul{
    display:block;
    margin-top: 0px;
    position: absolute;
    left: 0px;
    transition: all 0.3s;
    height: 92%;
    z-index: 2;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

#btn-candidaturas:checked ~ .menu ul li#mycandis ul {
    display:block;
    background-color: rgba (0,0,0,0);
    margin-top: 0px;
    position: absolute;
    left: 0px;
    transition: all 0.3s;
    height: 92%;
    z-index: 2;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

#btn-notificaciones:checked, .menu ul li#mycandis ul li ul:default{
    display:block;
    background-color: greenyellow;
    margin-top: -100px;
    margin-left:300px;
    padding-left: 20px;
    position: static;
    left: 310px;
    transition: none;
    height: 0%;
    z-index: 2;
    box-shadow: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

#btn-notificaciones:checked, .menu ul li#mycandis ul li ul li:default{
    background-color: #2e1247;
    display:list-item;
    margin-top: 0px;
    margin-left: 0px;
    position: static;
    left: 0px;
    height: auto;
    transition: all 0.3s;
    z-index: 2;

}
/*------------------------NUEVO-------------------------*/




/*
.menu ul li ul {
    margin-top: 50px;
    background-color: #2e1247;
    position: absolute;
    top:0px;
    left: -350px;
    transition: all 0.3s;
    height: 100%;
    z-index: 2;
}

.menu ul li ul:after {
    margin-top: 0px;
}


.menu ul li ul.default {
    margin-top: 50px;
    background-color: #2e1247;
    position: absolute;
    top:0px;
    left: -350px;
    transition: all 0.3s;
    height: 100%;
    z-index: 2;
}

.menu ul li ul.active {
    margin-top: 50px;
    position: absolute;
    top:0px;
    left: 0px;
    transition: all 0.3s;
    height: 100%;
    z-index: 2;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);

}



.menu ul li ul li ul {
    margin-top: 0px;
    display:none;
    position: relative;
    transition: all 0.3s;
    height: 100%;
    z-index: 0;
    
}


.menu ul li ul li ul.active {
    margin-top: 0px;
    display: block;
    position: relative;
    transition: all 0.3s;
    height: 100%;
    z-index: 0;
}

*/


.menu a {
    display: block;
    position:static;
    padding: 15px 10px 15px 10px;
    color: #fff;
    text-decoration: none;

}

/*ESTE ES EL HOVER DEL SIDE BAR*/


.menu ul li a:hover {
    background: #230D38;
    overflow-x: hidden;
}



.reset-this{
    display:none;
    margin-top: 0;
    position: static;
    top:0px;
    left: 0px;
    transition: none;
    height: auto;
}

.menu ul li ul li a {
    height: 100%;
    width: 330px;
}
.menu ul li ul li a:hover {
    padding: 15px;
    height: 100%;
    width: 330px;
}



.menu span {
    padding-left: 10px;
}

.mypill {
    background-color: orange;
    height:20px;
    width:140px;
    border-radius: 10px;
    text-align: center
}

.myhour {
    float:right;
    text-align: center;
    opacity: 0.4;
}

.plazaPill {
    float:right;
    background-color: orange;
    height:20px;
    width:90px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.opacoDept {

    text-align: left;
    opacity: 0.4;
    font-size: 12px;
}



.navbar-brand {
    color:white;
    position: relative;
    z-index:3;
}



@media (max-width:768px){

.iconito img {
    cursor:auto;
}    
    .iconito {
    padding-left:20px;
    border-radius: 5px;
    display:block;
    position: fixed;
    left:-20px;
    top:auto;
    bottom:0px;
    right:0px;
    background-color:lightgrey;
    width: 110%;
    height: 50px;
    transition: all 0.3s;
    box-shadow: 0px -3px 3px rgba(0,0,0,0.5);
    z-index: 4;
}

.iconito:hover {
    padding-left:20px;
    border-radius: 5px;
    display:block;
    position: fixed;
    left:-20px;
    top:auto;
    bottom:0px;
    right:0px;
    background-color:lightgrey;
    width: 110%;
    height: 50px;
    transition: all 0.3s;
    box-shadow: 0px -3px 3px rgba(0,0,0,0.5);
    z-index: 4;
}

.controlpanel {
    padding:10px 0px 0px 0px;
    border-radius: 5px;
    display:inline-block;
    position: absolute;
    top:0px;
    right:auto;
    left:70px;
    background-color: lightgrey;
    width: 80%;
    height: 180px;
    transition: all 0.3s;
    box-shadow: -3px 3px 3px rgba(0,0,0,0);
    z-index: 4;
}

.controlpanel form input#comida{
    display:inline-block;
    position: absolute;
    background-color: orange;
    top:-5px;
    right: auto;
    left:100px;
}

.controlpanel form input#salida{
    display:inline-block;
    position: absolute;
    background-color: orange;
    top:10px;
    right: auto;
    left:180px;
}

    .menu ul li#mynotes ul{display:none}
    .menu ul li#mycandis ul{display:none}
    
    #btn-notificaciones:checked ~ .menu ul li#mynotes ul{
        display:block;
        margin-top: 0px;
        position: static;
        left: 0px;
        transition: all 0.3s;
        height: 92%;
        z-index: 4;
        box-shadow: 2px 2px 3px rgba(0,0,0,0);
    }

    #btn-candidaturas:checked ~ .menu ul li#mycandis ul {
        display:block;
        background-color: rgba (0,0,0,0);
        margin-top: 0px;
        position: static;
        left: 0px;
        transition: all 0.3s;
        height: 92%;
        z-index: 4;
        box-shadow: 2px 2px 3px rgba(0,0,0,0);
    }

    .navbar-brand {
        position: absolute;
        padding: 15px 20px 15px 20px;
        right: 0px;
        top: 0px;
        z-index: 4;
    }




    header label {
        display: block;
    }

    .menu {
        display:none;
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top:  -200%;
    }

    .menu ul {
        flex-direction: column;
        background:#240F3A;
    }

    .menu ul li ul {
        position: static;
        left:0;
    }


    .menu ul li ul .active {
        position: static;
        left: 0;
    }

    .menu ul li:hover ul {
        display: block;
        position:static;
    }

    .menu ul li:focus ul {
        background: #2e1247;
    }

    .menu a span {
        position: absolute;
        right: 5px;
    }

    #btn-menu:checked ~ .menu {
        margin-top:  0%;
        margin-top:50px;
        z-index: 4;
        display:block;
    }



    .sidebar-item-content {
        padding-top:5px;
    }

    .menu ul li ul li a {
        padding: 20px;
        height: 100%;
        width: 100%;
    }
    .menu ul li ul li a:hover {
        padding: 15px;
        height: 100%;
        width: 100%;
        background-color: #2e1247;
    }

    .myhour {
        padding-right: 5px;
    }

}

/*CONTENEDOR*/

.content {
    z-index: -1;
}