* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 50px;
    background:#2e1247;
    color: #fff;
}


header label {
    cursor: pointer;
    display:none;
    padding: 10px;
}


#btn-menu{
    display:none;
    z-index: 1;
}

#icono {
    font-size: 30px;
}


/*menu*/

.menu ul {
    background:#2e1247;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.menu ul ul {
    display: none;
}


.menu ul li ul {
    background-color: #2e1247;
    padding-top: 50px;
    position: absolute;
    top:0px;
    left: -350px;
    transition: all 0.3s;
    height: 100%;
    z-index: 0;
}

.menu ul li ul.default {
    background-color: #2e1247;
    padding-top: 50px;
    position: absolute;
    top:0px;
    left: -350px;
    transition: all 0.3s;
    height: 100%;
    z-index: 0;
}

.menu ul li ul.active {
    padding-top: 50px;
    position: absolute;
    top:0px;
    left: 0px;
    transition: all 0.3s;
    height: 100%;
    z-index: 0;

}


.menu a {
    display: block;
    position:static;
    padding: 15px 10px 15px 10px;
    color: #fff;
    text-decoration: none;

}

/*ESTE ES EL HOVER DEL SIDE BAR*/

.menu ul li a:hover {
    background: #230D38;
    overflow-x: hidden;
}



.menu ul li ul li a {
    padding: 20px;
    height: 100%;
    width: 330px;
}
.menu ul li ul li a:hover {
    padding: 15px;
    height: 100%;
    width: 330px;
}



.menu span {
    padding-left: 10px;
}

.mypill {
    background-color: orange;
    height:20px;
    width:140px;
    border-radius: 10px;
    text-align: center
}

.myhour {
    float:right;
    text-align: center;
    opacity: 0.4;
}

.navbar-brand {
    position: fixed;
    z-index:3;
}



@media (max-width:768px){

    .navbar-brand {
        position: fixed;
        padding: 15px 20px 15px 20px;
        right: 0px;
        top: 0px;
        z-index: 2;
    }

    .menu ul li ul {
        padding-top: 0px;
        position: static;
        left: -100%;
        height: auto;
    }

    .menu ul li ul.active {
        padding-top: 0px;
        position: static;
        left: 0px;
        height: auto;
    }

    header label {
        display: block;
    }

    .menu {
        display:none;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top:  -200%;
    }

    .menu ul {
        flex-direction: column;
        background:#240F3A;
    }

    .menu ul li ul {
        position: static;
        left:0;
    }


    .menu ul li ul .active {
        position: static;
        left: 0;
    }

    .menu ul li:hover ul {
        display: none;
    }

    .menu ul li:focus ul {
        background: #2e1247;
    }

    .menu a span {
        position: absolute;
        right: 5px;
    }

    #btn-menu:checked ~ .menu {
        margin-top:  0%;
        margin-top:50px;
        z-index: 2;
        display:block;
    }

    .sidebar-item-content {
        padding-top:5px;
    }

    .menu ul li ul li a {
        padding: 20px;
        height: 100%;
        width: 100%;
    }
    .menu ul li ul li a:hover {
        padding: 15px;
        height: 100%;
        width: 100%;
        background-color: #2e1247;
    }

    .myhour {
        padding-right: 5px;
    }

}

/*CONTENEDOR*/

.content {
    z-index: -1;
}